@import "tailwindcss";

:root {
  --background: #020617; /* slate-950 */
  --foreground: #0f172a; /* slate-900 */
}

body {
  min-height: 100vh;
  background-color: #f1f5f9; /* slate-100 */
  color: #0f172a; /* slate-900 */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "Segoe UI", sans-serif;
}

